div.btn-circle {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	position: relative;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 0;
	color: black;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

div.btn-circle input + label {
	position: absolute;
	width: 75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: none;
}

div.btn-circle input {display: none;}

div.btn-circle input + label:hover { background: #f0f0f0; }

div.btn-circle input:checked + label {
	background: #89e589;
	color: white;
}



